* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7%;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #0f8b8d;
}

.navbar .navbar-logo img {
  width: 15rem;
}

.navbar .navbar-nav a {
  color: white;
  font-size: 1rem;
  padding: 1rem;
}

/* Content */

.content .product {
  padding: 3rem 20%;
  display: flex;
  justify-content: space-evenly;
  color: #0f8b8d;
}

.content .product .product-title {
  margin-top: 3rem;
}

.content .product .product-title p {
  color: #000;
  margin: 1rem 0 2rem;
}

.content .product-desc {
  padding: 3rem 20%;
}

.content .product-desc h1 {
  color: #0f8b8d;
  max-width: 10rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 5px solid #ec9a29;
}

.content .product-desc a {
  color: #fff;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #a8201a;
  border-radius: 1rem;
  font-size: 0.8rem;
}

/* footer */
.footer {
  background-color: #143642;
  display: flex;
  justify-content: space-evenly;
  color: #ec9a29;
  padding: 1rem 7%;
  border-radius: 15px 15px 0 0;
}

.footer .footer-icon svg {
  color: white;
  margin: 0.4rem;
}

.footer a {
  color: #fff;
}
.footer .footer-top {
  margin: 2rem;
}

.footer .footer-logo img {
  width: 15rem;
}

.footer ul {
  list-style: none;
}

.footer .footer-products {
  margin: 2rem;
}

.footer .footer-store {
  margin: 2rem;
}

.footer .footer-contact {
  margin: 2rem;
}

/* Media Queries */

@media (max-width: 1000px) {
}
@media (max-width: 670px) {
  .navbar {
    flex-direction: column;
  }

  .navbar .navbar-logo img {
    width: 50%;
  }
  .navbar .navbar-nav {
    margin-top: 2rem;
  }

  .content .product {
    flex-direction: column;
    padding: 3rem 10%;
  }

  .content .product-desc {
    padding: 3rem 10%;
  }

  .footer {
    flex-direction: column;
  }

  .footer a {
    margin-left: 1rem;
  }

  .footer .footer-top {
    display: flex;
  }

  .footer .footer-top .footer-icon {
    display: flex;
  }

  .footer .footer-logo img {
    width: 50%;
  }

  .footer .footer-products {
    margin: 1rem;
  }

  .footer .footer-store {
    margin: 1rem;
  }

  .footer .footer-contact {
    margin: 1rem;
  }
}
